body {
	margin: 0;
	&, & > #root, & > #root > .Index {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	& > #root > .Index {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: max-content auto;
	}
	* {
		font-family: 'Open Sans';
	}
}